:root {
  --clr-accentEndPoint: hsl(210, 39%, 59%);
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.sidebarOut {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #dcdcdc;
  display: flex;
  flex-direction: column;
  transform: translateX(0);
  transition: transform 500ms ease-in-out;
}

.sidebarIn{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #dcdcdc;
  display: flex;
  flex-direction: column;
  transform: translateX(-100%);
  transition: transform 500ms ease-in-out;
}

.sidebar .image .img {
  width: 50px;
}
.image {
  margin-bottom: 40px;
  padding: 1em;
  position: relative;
  background-color: red;

}

.hamburgerContainer {
  position: relative;
}

.hamburger {
  position: absolute;
  background-color: red;
  top: 40%;
  left:100%;
}

.title {
  color: #87ceeb;
  font-size: 13px;
  text-align: center;
}
.elementSidebar {
  margin-left: 10px;
}
.home {
  margin-bottom: 20px;
}
.menuSidebar {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.menuSidebar li {
  display: flex;
  flex-direction: row;
  margin-left: 2em;
  gap: 1em;
}

.menuSidebar li h4 {
  color: var(--clr-accent);
}
.marginLi {
  margin-bottom: 10px;
}
.darcklight {
  color: var(--clr-accent);
}
.contentDarckLight {
  margin-top: 100%;
  padding-left: 1em;
}

.icon span {
  background-color: red;
  width: 10px;
  height: 10px;
}