:root {
  --clr-accentEndPoint: hsl(210, 39%, 59%);
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 20vw;
  background-color: #dcdcdc;
  display: flex;
  flex-direction: column;
}
.sidebar .image .img {
  width: 50px;
}
.image {
  margin-bottom: 40px;
  padding: 1em;
}

.title {
  color: #87ceeb;
  font-size: 13px;
  text-align: center;
}
.elementSidebar {
  margin-left: 10px;
}
.home {
  margin-bottom: 20px;
}
.menuSidebar {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.menuSidebar li {
  display: flex;
  flex-direction: row;
  margin-left: 2em;
  gap: 1em;
}

.menuSidebar li h4 {
  color: var(--clr-accent);
}
.marginLi {
  margin-bottom: 10px;
}
.darcklight {
  color: var(--clr-accent);
}
.contentDarckLight {
  bottom: 0%;
  margin-top: auto;
  padding-bottom: 3em;
  align-self: center;
}
