
@media (min-width:800px){
.Home{
    background-color: var(--clr-light);
    overflow: hidden;
  }
  
  .textImage:first-of-type .textImage--textButton{
      width: 50vw;
      padding-left: calc(100% + em);
  }
  .textImage:first-of-type .textImage--img {
    padding: 0;
    margin: 0;
    right: 0;
    align-self: flex-end;
  }
}