.loginComponentSize {
  min-height: 87vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContainer {
  display: flex;
  justify-content: center;
}

.loginWrapper {
  width: 505px;
  height: 275px;
  background-color: #eee;
  border-radius: 15px;
  display: flex;
  flex-direction: column(2);
  justify-content: space-between;
}

@media screen and (max-width: 630px) {
  .loginWrapper {
    width: 250px;
    height: 300px;
    border-bottom: 10px solid #4a88c4;
    border-top: 10px solid #4a88c4;
  }
}

.loginImageWrapper {
  background: #4a88c4;
  position: relative;
  width: 45%;
  border-radius: 15px;
}

@media screen and (max-width: 630px) {
  .loginImageWrapper {
    display: none;
  }
}

.loginSkew {
  background: #4a88c4;
  transform: skew(-13deg);
  width: 50%;
  margin-left: 150px;
  height: 100%;
  box-shadow: 10px 0 15px -2px #888;
  display: flex;
  align-items: center;
}

.loginImageWrapper img {
  z-index: 2;
  height: auto;
  transform: skew(13deg) scale(2.1);
  margin-left: -80px;
  margin-bottom: 15px;
}

.loginFormWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.loginForm h1 {
  font-size: 1.25rem;
  color: #1A69B4;
  font-weight: lighter;
  margin-left: 60px;
}

.loginFormUser {
  margin-top: 15px;
} 

.loginFormPass {
  margin-top: 20px;
}

.loginForm input {
  border: hidden;
  border-bottom: 1.4px solid;
  border-color: #8d8d8d;
  background: #eee;
  margin-right: 60px;
  word-wrap: break-word;
}

.loginForm button {
  margin-top: 40px;
  margin-left: 49px;
  width: 76px;
  height: 30px;
  background: #4a88c4;
  color: #fdf5e6;
  border: hidden;
  border-radius: 50px;
  cursor: pointer;
}

.loginForm button:hover {
  background: #0369A1;
}

.formError {
  color: red;
}