.nav {
    z-index: 2;
    background-color: var(--clr-light);
}

.navBar-logoSubtitle{
    padding-right: 3em;
    margin-right: 0;
}

.navLink {
    padding-inline: 0;
    margin-inline: 0.6em;
    font-size: var(--fs-h3);
}

.moon {
height: 50;
}


@media (max-width:800px){
    .screenNav {
    width: 99vw;
    height: 100vh;
    position: fixed;
    background-color: var(--clr-light);
    transition: all 1s ease-in-out;
    z-index: 0;
    }

    .navSpan{
        position:fixed;
        z-index: 20;
        padding: 0.2em;
    }

    .nav{
        width: 100vw;
        z-index: 10;
        background-color: var(--clr-light);
        position: fixed;
        box-shadow: var(--bs);
    }
    .navLink {
        font-size: var(--fs-h1);
    }

    .navButton {
        font-size: var(--fs-h1);
        margin-bottom: 1em;
    }
    .navAbierto{
        transform: translateY(0);
    }

    .navCerrado{
        transform: translateY(-110%);
    }
}