@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  box-sizing: border-box;
} /* Este snippet de código, en lugar de agregarle los paddings a tu box, toma a border box como el tamaño máximo y agrega el padding y los bordes dentro de ese tamaño. Ayuda a eliminar incosistencias de tamaños y ubicación*/

/* Opciones personalizadas de estilo*/
:root {
  /* --ff-primary: "Titillium Web", sans-serif;*/ /*  Fuente primaria, hay que decidir que fuente vamos a utilizar y agregarla, luego activar esta linea de código y la de abajo */
  /* --ff-secondary: "Source Code Pro", monospace;*/ /* Fuente secundaria */

  --fw-reg: 150; /* Peso de la fuente regular. (cuan anchas son las letras)*/
  --fw-bold: 900; /* Peso de la fuente Bold o negrita. */
  /*El esquema de colores, es mejor usar variables, por si se decide cambiar el esquema solo hay que cambiarlo acá y no a traves del sitio. Si se usa Tailwind Hay que ver como implementarlo */
  --clr-light: hsl(
    0,
    0%,
    91%
  ); /* Color claro. Personalmente prefiero hsl/hsla para formato de colores.*/
  --clr-dark: hsl(240, 5%, 11%); /*Color oscuro*/
  --clr-accent: hsla(336, 91%, 31%, 100%); /* Color principal o acento */
  --clr-accentLessOpaque: hsla(
    342,
    /* Tono o Hue*/ 93%,
    /* Saturación o Saturation */ 40%,
    /* Brillo o Lightness */ 60% /* Alpha (transparencia) */
  ); /*Version transparente del color principal */
  --clr-accentEndPoint: hsl(
    342,
    93%,
    40%
  ); /* Color secundario. Aca coloqué una version mas clara del principal, cuando se decidan colores hay que cambiar el esquema */

  /*Estos son las tipografias para pantalla chica. Quedan mejor si se achica un poco la letra para mejorar el responsiveness. Hay que ver si lo usamos */
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.726); /* Variable general para box shadow.*/
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.25rem;
  }
} /* Variables para tipografias de pantallas grandes*/

/* General */

html {
  scroll-behavior: smooth;
} /*Si es necesario scrollear, esta linea permite un scroll mas suave, una forma muy facil de resolverlo.*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.moon {
  fill: red;
}
